body {
  padding-top: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
  margin-top: 55px;
}